*{
    margin: 0;
    padding:0;
}

.navbar {
    background-color:#f7f7f7f7;
}
.card-body-c{
    background:pink;
    padding: 4px;
}

.btn-card{
    background: palevioletred;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}